@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Cairo:wght@200..1000&family=Playball&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  font-family: "Cairo", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: #0e1618;
}
*::-webkit-scrollbar {
  display: none;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    scale: 0.7;
    opacity: 0.01;
    animation: fadeIn 5.5s linear forwards;
    animation-timeline: view();
    animation-range: 0% 35%;
  }
}
@keyframes fadeIn {
  to {
    scale: 1;

    opacity: 1;
  }
}

.page-section {
  transition: all 0.7s ease-in-out;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hand-written {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  text-align: right;
  font-style: normal;
}

.hand-written-italic {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.category-slide {
  display: inline-block;
  animation: 10s slide linear infinite;
}
.category {
  white-space: nowrap;
  overflow-x: auto;
  user-select: none;
}
@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.category:hover .category-slide {
  animation-play-state: paused;
}
.overlay {
  border-image: linear-gradient(
      hsla(197, 100%, 53%, 0.6),
      hsla(197, 100%, 53%, 0.5),
      hsla(197, 100%, 53%, 0.4),
      hsla(197, 100%, 53%, 0.3),
      hsla(197, 100%, 53%, 0.2),
      hsla(197, 100%, 53%, 0.1),
      hsla(197, 100%, 53%, 0)
    )
    fill 1;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#notebook-paper {
  z-index: 1;
  background: linear-gradient(to bottom, #c9c9c3 29px, #a7a2a204 1px);
  /* margin: 50px auto; */
  background-size: 100% 30px;
  position: relative;
  padding-top: 120px;
  padding-left: 160px;
  padding-right: 20px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2),
    0px 0px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2),
    0px 0px 6px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 10%;
    height: 100%;
    width: 1px;
    background: #742525;
  }
}

/* button 1 */

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
}

.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #0fbbff;
  border-radius: 1.625rem;
}

.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.learn-more:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
